@import "tailwindcss";

@media (min-width: 768px){
  body:has(#homeIcon:hover) #homeLabel,
  body:has(#capturesIcon:hover) #capturesLabel,
  body:has(#encyclopediaIcon:hover) #encyclopediaLabel,
  body:has(#mapIcon:hover) #mapLabel,
  body:has(#profileIcon:hover) #profileLabel,
  .sidebarLabel:hover {
    background-color: #152c2880;
  }

  body:has(#homeLabel:hover) #homeIcon,
  body:has(#capturesLabel:hover) #capturesIcon,
  body:has(#encyclopediaLabel:hover) #encyclopediaIcon,
  body:has(#mapLabel:hover) #mapIcon,
  .sidebarIcon:hover {
    padding-left: 0;
    border-left-width: 6px;
    border-left-color: #43a047;
  }

  body:has(#profileLabel:hover) #profileIcon{
    outline-width: 3px;
    outline-color: #43a047;
  }
}
